html, body {
    position: absolute;
    margin: 0;
    width: 100%; height: 100%;
    top: 0; left: 0;
    font-family: sans-serif;
}

#wrapper {
    position: absolute;
    width: 600px; height: 400px;
    padding: 0px;
    border: 1px solid steelblue;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
}

#game_screen {
    position: absolute;
    width: 500px; height: 300px;
    padding: 5px; border: 1px solid cadetblue;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    color: cadetblue;
    text-align: center;
}

h3 {
    font-size: 20px;
}

button {
    border-radius: 5px;
    border: 1px solid cadetblue;
    color: cadetblue;
    background-color: white;
    padding: 5px;
    transition: background-color .5s, color .5s;
}

button:hover {
    color: white;
    background-color: cadetblue;
    transition: background-color .5s, color .5s;
}

#play {
    position: relative;
    top: 205px;
    font-size: 15px;
}